.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Faint black background color */
  }
  
  

  .feature-list {
    list-style-type: disc; 
  }
  
  .join-us {
    font-style: italic;
  }
  